<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <h2>Add Product</h2>
            <form #pdata="ngForm" (ngSubmit)="onSubmit(pdata)">
                sku : <input type="text" name="sku" id="sku" required ngModel/> <br/> <br/> 
                name: <input type="text" name="name" id="name" required ngModel/> <br/> <br/> 
                description: <input type="text" name="description" id="description" ngModel/> <br/> <br/> 
                unitPrice: <input type="text" name="unitPrice" id="unitPrice" required ngModel/> <br/><br/>  
                imageUrl: <input type="text" name="imageUrl" id="imageUrl" value="assets/images/products/placeholder.png" ngModel/> <br/><br/> 
                active: <input type="radio" name="active" id="act" value="true" checked ngModel> 
                <label for="act">True</label>
                <input type="radio" name="active" id="act2" value="false" ngModel>
                <label for="act2">False</label>
                <br/><br/> 
                unitsInStock: <input type="number" name="unitsInStock" required id="unitsInStock" ngModel/><br/><br/> 
                <div  ngModelGroup="category"> Category:
                       <select name="id" id="id"  ngModel>
                          <option *ngFor="let pcat of pc" value={{pcat.id}}> {{pcat.categoryName}}</option>
                        </select> 
                </div><br/><br/>
                <input type="submit" [disabled]="!pdata.valid" value="submit"/>
            </form>
        </div>
    </div>
</div>

