<aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">
        <a href="home.html">
            <img src="assets/images/logo.png" alt="luv2shop" class="img-responsive">
        </a>
    </div>
    <div class="menu-sidebar-content js-scrollbar1">
        <nav class="navbar-sidebar">
            <ul class="list-unstyled navbar-list">
                <li *ngFor="let pc of prodCategory">
                    <a routerLink="category/{{ pc.id }}">{{ pc.categoryName }}</a>
                </li>
               
                <li>
                    <a routerLink="addProduct">Add Product</a>
                </li>
                <li>
                    <a routerLink="addProductR">Add Product-R</a>
                </li>
                <li>
                    <a routerLink="home">Home</a>
                </li>
                
                <li>
                    <a href="https://emonicsacademy.com/" target="_blank">Academy</a>
                </li>
            </ul>
        </nav>
    </div>
</aside>
